@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Pokemon"))
    {
        <h3>Your Role is Pokemon</h3>
    }
    else
    {
        <h3>Your Role is Pokemon Trainer</h3>
    }
}